<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Image</title>
    </head>
    <body>
        <center>
            <h1>Ejemplo de una Imagen con una URL</h1>
        </center>
        <header></header>
        <article>
            <section>
                <p>
                    <center>
                        <a href="https://www.django-rest-framework.org/">
                            <img src="https://www.django-rest-framework.org/img/logo.png", alt="Página Caída", title="Django Rest Framework">
                        </a>
                    </center>
                </p>
            </section>
        </article>
    </body>
</html>