<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>List</title>
    </head>
    <body>
        <div>
            <h1>Ejemplo de una Lista</h1>
        </div>
        <div>
            <p>
                <h3>Algunos Clubes de Fútbol de Argentina...</h3>
                <ul>
                    <li>Boca Juniors</li>
                    <li>River Plate</li>
                    <li>San Lorenzo</li>
                    <li>Racing</li>
                    <li>Independiente</li>
                </ul>
            </p>
        </div>
    </body>
</html>